<svg width="960" height="500" id="vis">
  <text id="yaxislabel" transform="rotate(-90)" style="font-weight:bold;"></text>
  <text id="xaxislabel" style="font-weight:bold;"></text>
</svg>
<div id="tooltip"></div>
<script>
function tip(e) {
    $('#tooltip').show();
    var tooltip = $('#tooltip');
    for (var i=tooltip.length; i--;) {
        tooltip[i].style.left = e.pageX+15 + 'px';
        tooltip[i].style.top = e.pageY-15 + 'px';
    }
};

var defaultColour = "#e84439";

var svg = d3.select("svg"),
    margin = {top: 20, right: 100, bottom: 100, left: 100},
    svgWidth = svg.attr("width"),
    svgHeight = svg.attr("height"),
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, data) {
    if (error) throw error;
    
    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      
    var xIndicator = $("select[name='x_indicator']").val();
    var yIndicator = $("select[name='y_indicator']").val();
    
    var sort = $("input:checked[name='sort']");
    if (sort.length>0) {
        var sortType = sort.val();
        if (sortType=="xasc") {
            data.sort(function(a,b) {return d3.ascending(a[xIndicator],b[xIndicator]);})
        }else if (sortType=="xdes") {
            data.sort(function(a,b) {return d3.descending(a[xIndicator],b[xIndicator]);})
        }else if (sortType=="yasc") {
            data.sort(function(a,b) {return parseFloat(a[yIndicator])-parseFloat(b[yIndicator]);})
        }else if (sortType=="ydes") {
            data.sort(function(a,b) {return parseFloat(b[yIndicator])-parseFloat(a[yIndicator]);})
        };
    };
    
    if ($("input[name='x_label']").val()=="") {
        $('#xaxislabel').text(xIndicator)
    }else{
        $('#xaxislabel').text($("input[name='x_label']").val())
    };
    $('#xaxislabel')
      .attr("x",(svgWidth-$('#xaxislabel').width()+margin.left-margin.right)/2)
      .attr("y",svgHeight-$('#xaxislabel').height());
      
    if ($("input[name='y_label']").val()=="") {
        $('#yaxislabel').text(yIndicator)
    }else{
        $('#yaxislabel').text($("input[name='y_label']").val())
    };
    $('#yaxislabel')
    .attr("y",$('#yaxislabel').width())
    .attr("x",-1*((svgHeight+$('#yaxislabel').height()-margin.bottom+margin.top)/2))
    
    var x = d3.scaleBand().rangeRound([0, width]);
    var xCategories = data.map(function(d){return d[xIndicator]});
    x.domain(xCategories);
    
    var y = d3.scaleLinear().rangeRound([height, 0]);
    var ymaxauto = $("input:checked[name='y_maximum']").val();
    if (ymaxauto=="auto") {
      var ymax = d3.max(data, function(d) {return Number(d[yIndicator]); });
    }else{
      var ymax = parseFloat($("input[name='y_maximum_value']").val());
    };
    $("input[name='y_maximum_value']").val(ymax);
    y.domain([0, ymax]);
    
    var xaxis = g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    var yaxis = g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y))
        
    yaxis.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Frequency");
    
    function update() {
      var svgWidth = parseInt($("input[name='width']").val());
      var svgHeight = parseInt($("input[name='height']").val());
      var pTop = parseInt($("input[name='padding_top']").val());
      var pRight = parseInt($("input[name='padding_right']").val());
      var pLeft = parseInt($("input[name='padding_left']").val());
      var pBottom = parseInt($("input[name='padding_bottom']").val());
      var xRotation = parseInt($("input[name='x_text_rotation']").val());
      var selectedColour=$("input[name='colour']").val()==""?defaultColour:$("input[name='colour']").val();
      var xIndicator = $("select[name='x_indicator']").val();
      var yIndicator = $("select[name='y_indicator']").val();
      var sort = $("input:checked[name='sort']");
      
      margin = {top: pTop, right: pRight, bottom: pBottom, left: pLeft};
      svg.attr("width",svgWidth)
      svg.attr("height",svgHeight)
      
      width = +svg.attr("width") - margin.left - margin.right,
      height = +svg.attr("height") - margin.top - margin.bottom;
      
      g.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        
        if (sort.length>0) {
            var sortType = sort.val();
            if (sortType=="xasc") {
                data.sort(function(a,b) {return d3.ascending(a[xIndicator],b[xIndicator]);})
            }else if (sortType=="xdes") {
                data.sort(function(a,b) {return d3.descending(a[xIndicator],b[xIndicator]);})
            }else if (sortType=="yasc") {
                data.sort(function(a,b) {return parseFloat(a[yIndicator])-parseFloat(b[yIndicator]);})
            }else if (sortType=="ydes") {
                data.sort(function(a,b) {return parseFloat(b[yIndicator])-parseFloat(a[yIndicator]);})
            };
        };
        
        if ($("input[name='x_label']").val()=="") {
            $('#xaxislabel').text(xIndicator)
        }else{
            $('#xaxislabel').text($("input[name='x_label']").val())
        };
        $('#xaxislabel')
          .attr("x",(svgWidth-$('#xaxislabel').width()+margin.left-margin.right)/2)
          .attr("y",svgHeight-$('#xaxislabel').height());
          
        if ($("input[name='y_label']").val()=="") {
            $('#yaxislabel').text(yIndicator)
        }else{
            $('#yaxislabel').text($("input[name='y_label']").val())
        };
        $('#yaxislabel')
        .attr("y",$('#yaxislabel').width())
        .attr("x",-1*((svgHeight+$('#yaxislabel').height()-margin.bottom+margin.top)/2))
        
        var x = d3.scaleBand().rangeRound([0, width]);
        var xCategories = data.map(function(d){return d[xIndicator]});
        x.domain(xCategories);
          
        var y = d3.scaleLinear().rangeRound([height, 0]);
        var ymaxauto = $("input:checked[name='y_maximum']").val();
        if (ymaxauto=="auto") {
          var ymax = d3.max(data, function(d) {return Number(d[yIndicator]); });
          $("input[name='y_maximum_value']").val(ymax);
        }else{
          var ymax = parseFloat($("input[name='y_maximum_value']").val());
        };
        y.domain([0, ymax]);
    
        yaxis.transition().call(d3.axisLeft(y))
        xaxis.transition().call(d3.axisBottom(x))
        xaxis.attr("transform", "translate(0," + height + ")")
        xaxis.selectAll("text")
          .attr("transform", "rotate("+xRotation+")")
          .style("text-anchor", "start");
        
        var bars = g.selectAll(".bar").data(data)
          .attr("class", "bar")
          .style("fill",selectedColour)
          .attr("onmouseout","$('#tooltip').hide()")
          .attr("x", function(d) { return x(d[xIndicator]) + 2; })
          .attr("y", function(d) { return y(d[yIndicator]); })
          .attr("width", (width/xCategories.length)-1)
          .attr("height", function(d) { return height - y(d[yIndicator]); })
          .attr("onmouseover",function(d){return "$('#tooltip').text('"+d[yIndicator]+"')"});
          
          bars.enter().append("rect")
          .attr("class", "bar")
          .style("fill",selectedColour)
          .attr("onmouseout","$('#tooltip').hide()")
          .attr("x", function(d) { return x(d[xIndicator]) + 2; })
          .attr("y", function(d) { return y(d[yIndicator]); })
          .attr("width", (width/xCategories.length)-1)
          .attr("height", function(d) { return height - y(d[yIndicator]); })
          .attr("onmouseover",function(d){return "$('#tooltip').text('"+d[yIndicator]+"')"});
          
        bars.exit().remove()
          
        $('.bar').on("mousemove",tip)
    };
    
    update() 
    
    $('select').change(function(){update()});
    $('input').change(function(){update()});
});
</script>