<style>
  .axis--y .tick line, .axis--x .tick line {display:none;}
  .tick text {color:#a9a6aa;}
  .axis--y .domain {display:none;}
  .domain {stroke:#443e42;}
  .rules .tick line {stroke:#a9a6aa;}
  .rules .domain {display:none;}
  #yaxislabel {color:#443e42;}
  #xaxislabel {color:#443e42;}
  #visTitle {color:#e84439;}
  .legend text {color:#443e42;}
</style>
<svg width="960" height="500" id="vis">
</svg>
{% load staticfiles %}    
<script type="text/javascript" src='{% static 'core/js/chart_common.js' %}'></script>
<script type="text/javascript" src='{% static 'core/js/chart_index.js' %}'></script>
<script>
{% if dataset %}
d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
    function update() {
        vb_column("svg",form2config("#visform"),csvDat);
    };
    update()
    $('select').change(function(){update()});
    $('input').change(function(){update()});
});
{% else %}
var csvDat = JSON.parse('{{dataString|safe}}');
function update() {
      vb_column("svg",form2config("#visform"),csvDat);
  };
update();
$('select').change(function(){update()});
$('input').change(function(){update()});
{% endif %}
</script>