{% extends 'core/base.html' %}

    {% block title %} DI Visbox Gallery {% endblock %}
    {% block head %}
    {% endblock %}    
    {% block content %}
    <div id="content" style="width:100%">
    <p> Welcome to DI Visbox gallery!</p>
    <h1>Visualisations</h1>
    <table>
        <tr>
            <th>Visualisation</th><th>Dataset</th><th>Chart type</th><th>Creator</th><th>Created</th>
        </tr>
        {% for vis in visualisations %}
        <tr>
            <td><a href="{{vis.get_absolute_url}}">{{vis.title}}</a></td>
            <td><a href="{{vis.dataset.get_absolute_url}}">{{vis.dataset.name}}</a></td>
            <td>{{vis.chart_type}}</td>
            <td>{{vis.creator}}</td>
            <td>{{vis.created}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endblock %}
