{% extends 'core/base.html' %}

    {% block title %} Bar chart {% endblock %}
    {% block head %}
    {% load staticfiles %} 
    <script type="text/javascript" src='{% static 'core/js/charts/common.js' %}'></script>
    <script type="text/javascript" src='{% static 'core/js/charts/bar.js' %}'></script>
    <style>
            
    button {display:block;}
    
    .axis--y .tick line, .axis--x .tick line {display:none;}
    .tick text {color:#a9a6aa;}
    .axis--y .domain {display:none;}
    .domain {stroke:#443e42;}
    .rules .tick line {stroke:#a9a6aa;}
    .rules .domain {display:none;}
    #yaxislabel {color:#443e42;}
    #xaxislabel {color:#443e42;}
    #visTitle {color:#e84439;}
    .legend text {color:#443e42;}
    
    </style>
    {% endblock %}    
    {% block content %}
    <div style="float:left;width:20%;overflow-y:scroll;height:100%;">
      <form id="visform" method="post" action="{% url 'core.views.createVis' 'bar' dataset.pk %}">
        {% csrf_token %}
      <a href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Customize and style</a>
      <div class="toggle">
      {{form.as_p}}
      </div>
      <button type="submit" onclick="$('div.toggle').slideDown()">Save chart and configuration</button>
      </form>
      <script>
        {% load staticfiles %}   
        crowbar = function () {
                  var e = document.createElement('script'); e.setAttribute('src',
                  '{% static 'core/js/svg-crowbar.js' %}'
                  ); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e);

        };
      </script>
      <button id="print" onclick="crowbar()">Export as vector</button>
    </div>
    <div style="float:left;width:80%">
      <svg id="bar_chart"></svg>
    </div>
<script>
$('#visform').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
    function update() {
        vb_bar("#bar_chart",form2config("#visform"),csvDat);
    };
    update();
    $('select').change(function(){update()});
    $('input').change(function(){update()});
});
</script>
{% endblock %}
