{% extends 'core/base.html' %}

    {% block title %} Bar chart {% endblock %}
    {% block head %}
    {% load staticfiles %} 
    <script type="text/javascript" src='{% static 'core/js/charts/common.js' %}'></script>
    <script type="text/javascript" src='{% static 'core/js/charts/bar.js' %}'></script>
    {% endblock %}    
    {% block content %}
    <div style="float:left;width:20%;overflow-y:scroll;height:100%;">
      <form id="visform" method="post" action="{% url 'core.views.editVis' visualisation.pk %}">
        <input type="hidden" name="chart_type" value="bar">
        <input type="hidden" name="datasetPK" value="{{dataset.pk}}">
        {% csrf_token %}
      <a href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Customize and style</a>
      <div class="toggle">
      {{form.as_p}}
      </div>
      <button type="submit" onclick="$('div.toggle').slideDown()">Save</button>
      </form>
      <script>
        {% load staticfiles %}   
        crowbar = function () {
                  var e = document.createElement('script'); e.setAttribute('src',
                  '{% static 'core/js/svg-crowbar.js' %}'
                  ); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e);

        };
      </script>
      <button id="print" onclick="crowbar()">Export as vector</button>
    </div>
    <div style="float:left;width:80%">
      <svg id="bar_chart"></svg>  
    </div>
    <script>
    $('#visform').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) { 
        e.preventDefault();
        return false;
      }
    });
    
    $.getJSON("{% url 'core.views.config' visualisation.pk %}",function(config){
        d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
          //Initial draw with config, subsequent draws with form2config
          vb_bar("#bar_chart",config,csvDat);
          function update() {
              vb_bar("#bar_chart",form2config("#visform"),csvDat);
          };
          $('select').change(function(){update()});
          $('input').change(function(){update()});
        });
    });
    </script>
    {% endblock %}
