{% extends 'core/base.html' %}

    {% block title %} Bar chart {% endblock %}
    {% block head %}
    {% load staticfiles %}    
    <script type="text/javascript" src='{% static 'core/js/charts/common.js' %}'></script>
    <script type="text/javascript" src='{% static 'core/js/charts/bar.js' %}'></script>
    <style>
    .axis--y .tick line, .axis--x .tick line {display:none;}
    .tick text {color:#a9a6aa;}
    .axis--y .domain {display:none;}
    .domain {stroke:#443e42;}
    .rules .tick line {stroke:#a9a6aa;}
    .rules .domain {display:none;}
    #yaxislabel {color:#443e42;}
    #xaxislabel {color:#443e42;}
    #visTitle {color:#e84439;}
    .legend text {color:#443e42;}
    
    button {display:block;margin:10px;}
    
    </style>
    {% endblock %}    
    {% block content %}
    <div style="float:left;width:20%;overflow-y:scroll;">
      <script>
        {% load staticfiles %}   
        crowbar = function () {
                  var e = document.createElement('script'); e.setAttribute('src',
                  '{% static 'core/js/svg-crowbar.js' %}'
                  ); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e);
                  //var config = {
                  //  filename: 'chart',
                  //}
                  //d3_save_svg.save(d3.select('svg').node(), config);
        };
        goToEditPage = function(){
            location.href = '{% url 'core.views.editVis' visualisation.pk %}';
        };
        goToDeletePage = function(){
          var sure = confirm("Are you sure you want to delete this visualisation?");
          if (sure) {
            location.href = '{% url 'core.views.deleteVis'  visualisation.pk  %}';
          }
        };
        copy = function(){
          location.href = '{% url 'core.views.createVis'  visualisation.chart_type visualisation.dataset.pk %}?copy={{visualisation.pk}}'
        };
        goToPNGPage = function(){
          location.href = '{% url 'core.views.png'  visualisation.pk  %}';
        };
      </script>
      <button id="print" onclick="crowbar()">Export as vector</button>
      <button id="print" onclick="goToPNGPage()">Export as PNG</button>
      <button id="print" onclick="copy()">Create a copy</button>
      {% if user == visualisation.creator %}
      <button id="edit" onclick="goToEditPage()">Edit</button>
      <button id="edit" onclick="goToDeletePage()">Delete</button>
      {% endif %}
    </div>
    <div style="float:left;width:80%">
      <svg id="bar_chart"></svg> 
    </div>
    <script>
    $.getJSON("{% url 'core.views.config' visualisation.pk %}",function(config){
        d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
            vb_bar("#bar_chart",config,csvDat);
        });
    });
    </script>
    {% endblock %}
