<html>
    <head>
    <title>Chart API</title>
     {% load staticfiles %}    
    <link rel=stylesheet href="{% static "core/css/base.css" %}" type="text/css">
    <script type="text/javascript" src='{% static 'core/js/jquery.js' %}'></script>
    <script type="text/javascript" src='{% static 'core/js/d3.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'core/js/common.js' %}'></script>
    <script type="text/javascript" src='{% static 'core/js/di-charts-1.1.1.min.js' %}'></script>
    <link rel="stylesheet" href='{% static 'core/js/di-charts-1.1.1.css' %}'>
    </head>
    <body>
    <div style="float:left;width:100%" id="chart">
    </div>
    <script>
    {% if dataset %}
    var config = JSON.parse('{{visualisation.get_config|safe}}');
    d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
         DiCharts.draw({element:document.getElementById('chart'),config:config,data:csvDat});
    });
    {% else %}
    var csvDat = JSON.parse('{{dataString|safe}}');
     DiCharts.draw({element:document.getElementById('chart'),config:config,data:csvDat});
    {% endif %}
    </script>
    </body>
</html>