{% extends 'core/base.html' %}

    {% block title %} Create chart {% endblock %}
    {% block head %}
    <style>
            
    button {display:block;}

    </style>
    {% endblock %}    
    {% block content %}
    <div style="float:left;width:20%;overflow-y:scroll;height:100%;">
      <form id="visform" method="post" action="{% url 'core.views.createVis' chart dataset.pk %}">
        {% csrf_token %}
        {% include 'core/chart/form.html' %}
      
      <button type="submit" onclick="$('div.toggle').slideDown()">Save chart and configuration</button>
      </form>
      <button id="print" onclick="domExport('chart','svg')">Export as vector</button>
      <button id="print" onclick="domExport('chart','png')">Export as PNG</button>
    </div>
    <div style="float:left;max-width:80%;top:10px;left:10px;" id="chart">
    </div>
<script>
$('#visform').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
    function update() {
        $('#chart').html("");
        resize_via_form("#chart");
        var filter_by = $("[name='filter_by']").val(),
        selectedFilter = $("[name='filter_selection']").val(),
        sort = $("[name='sort']").val(),
        sort_direction = $("[name='sort_direction']").val(),
        divisor = parseFloat($("[name='unit_divisor']").val()),
        linearAxis = $("[name='config.linearAxis.indicator']").val();
        var data = filter_and_sort(filter_by,selectedFilter,sort,sort_direction,divisor,linearAxis,csvDat);
        var config = form2config("#visform");
        console.log(config)
        DiCharts.draw({element:document.getElementById('chart'),config:config,data:data});
    };
    {% if visualisation %}
      //Initial load
      var config = JSON.parse('{{visualisation.get_config|safe}}');
      var flatConfig = JSON.parse('{{visualisation.get_flat_config|safe}}');
      for(var key in flatConfig){
        var value = flatConfig[key];
        if(typeof(value) === "boolean"){
          $("[name='"+key+"']").prop("checked",value);
        }else{
          $("[name='"+key+"']").val(value);
        }
      }
      resize_via_config("#chart",flatConfig);
      var filter_by = flatConfig.filter_by,
      selectedFilter = flatConfig.filter_selection,
      sort = flatConfig.sort,
      sort_direction = flatConfig.sort_direction,
      divisor = parseFloat(flatConfig.unit_divisor),
      linearAxis = flatConfig["config.linearAxis.indicator"];
      var data = filter_and_sort(filter_by,selectedFilter,sort,sort_direction,divisor,linearAxis,csvDat);
      DiCharts.draw({element:document.getElementById('chart'),config:config,data:data});
    {% else %}
      update();
    {% endif %}
    $('select').change(function(){update()});
    $('input').change(function(){update()});
});
</script>
{% endblock %}
