<style>
    a.preventhighlight{
        border:none;
        outline:none;
        text-decoration: none;
        margin-bottom:10px;
        margin-top:10px;
    }
    .fieldWrapper{
        margin-top:5px;
    }
    .colorPicker ul {
        border:1px solid Black;
        display:inline-block;
        vertical-align:top;
        width:95%;
        min-height:1.5em;
        padding:2px;
    }
    .colorPicker li {
        width:1.5em;
        height:1.5em;
        list-style:none;
        border:3px solid transparent;
        text-align:center;
        display: inline-block;
        margin:2px;
        float:left;
    }
    .colorPicker li.selected {
        border:3px dashed black;
    }
    
    .red1 {
        background-color:#e84439;
    }
    .red2 {
        background-color:#f8c1b2;
    }
    .red3{
        background-color:#f0826d;
    }
    .red4{
        background-color:#bc2629;
    }
    .red5{
        background-color:#8f1b13;
        color:white;
    }
    .red6{
        background-color:#fce3dc;
    }
    .red7{
        background-color:#fbd7cb;
    }
    .red8{
        background-color:#f6b0a0;
    }
    .red9{
        background-color:#ec6250;
    }
    .red10{
        background-color:#dc372d;
    }
    .red11{
        background-color:#cd2b2a;
    }
    .red12{
        background-color:#a21e25;
        color:white;
    }
    .red13{
        background-color:#6b120a;
        color:white;
    }
    .orange1 {
        background-color:#eb642b;
    }
    .orange2 {
        background-color:#f6bb9d;
    }
    .orange3{
        background-color:#f18e5e;
    }
    .orange4{
        background-color:#d85b31;
    }
    .orange5{
        background-color:#973915;
        color:white;
    }
    .orange6{
        background-color:#fde5d4;
    }
    .orange7{
        background-color:#fcdbbf;
    }
    .orange8{
        background-color:#facbad;
    }
    .orange9{
        background-color:#f3a47c;
    }
    .orange10{
        background-color:#ee7644;
    }
    .orange11{
        background-color:#cb5730;
    }
    .orange12{
        background-color:#ac4622;
        color:white;
    }
    .orange13{
        background-color:#7a2e05;
        color:white;
    }
    .yellow1 {
        background-color:#f49b21;
    }
    .yellow2 {
        background-color:#fccc8e;
    }
    .yellow3{
        background-color:#f9b865;
    }
    .yellow4{
        background-color:#e48a00;
    }
    .yellow5{
        background-color:#a85d00;
        color:white;
    }
    .yellow6{
        background-color:#feedd4;
    }
    .yellow7{
        background-color:#fee7c1;
    }
    .yellow8{
        background-color:#fedcab;
    }
    .yellow9{
        background-color:#fac47e;
    }
    .yellow10{
        background-color:#f7a838;
    }
    .yellow11{
        background-color:#df8000;
    }
    .yellow12{
        background-color:#ba6b15;
        color:white;
    }
    .yellow13{
        background-color:#7d4712;
        color:white;
    }
    .pink1 {
        background-color:#c2135b;
    }
    .pink2 {
        background-color:#e4819b;
    }
    .pink3{
        background-color:#d64278;
    }
    .pink4{
        background-color:#ad1257;
    }
    .pink5{
        background-color:#7e1850;
        color:white;
    }
    .pink6{
        background-color:#f9cdd0;
    }
    .pink7{
        background-color:#f6b8c1;
    }
    .pink8{
        background-color:#f3a5b6;
    }
    .pink9{
        background-color:#e05c86;
    }
    .pink10{
        background-color:#d12568;
    }
    .pink11{
        background-color:#9f1459;
    }
    .pink12{
        background-color:#8d0e56;
        color:white;
    }
    .pink13{
        background-color:#65093d;
        color:white;
    }
    .purple1 {
        background-color:#893f90;
    }
    .purple2 {
        background-color:#c189bb;
    }
    .purple3{
        background-color:#a45ea1;
    }
    .purple4{
        background-color:#7b3b89;
    }
    .purple5{
        background-color:#551f65;
        color:white;
    }
    .purple6{
        background-color:#ebcfe5;
    }
    .purple7{
        background-color:#deb5d6;
    }
    .purple8{
        background-color:#cb98c4;
    }
    .purple9{
        background-color:#af73ae;
    }
    .purple10{
        background-color:#994d98;
    }
    .purple11{
        background-color:#732c85;
    }
    .purple12{
        background-color:#632572;
        color:white;
    }
    .purple13{
        background-color:#42184c;
        color:white;
    }
    .blue1 {
        background-color:#0089cc;
    }
    .blue2 {
        background-color:#88bae5;
    }
    .blue3{
        background-color:#5da3d9;
    }
    .blue4{
        background-color:#0071b1;
    }
    .blue5{
        background-color:#0c457b;
        color:white;
    }
    .blue6{
        background-color:#d3e0f4;
    }
    .blue7{
        background-color:#bcd4f0;
    }
    .blue8{
        background-color:#a3c7eb;
    }
    .blue9{
        background-color:#77adde;
    }
    .blue10{
        background-color:#4397d3;
    }
    .blue11{
        background-color:#105fa3;
    }
    .blue12{
        background-color:#00538e;
        color:white;
    }
    .blue13{
        background-color:#0a3a64;
        color:white;
    }
    .green1 {
        background-color:#109e68;
    }
    .green2 {
        background-color:#92cba9;
    }
    .green3{
        background-color:#5ab88a;
    }
    .green4{
        background-color:#1e8259;
    }
    .green5{
        background-color:#16513a;
        color:white;
    }
    .green6{
        background-color:#c5e1cb;
    }
    .green7{
        background-color:#b1d8bb;
    }
    .green8{
        background-color:#a2d1b0;
    }
    .green9{
        background-color:#74bf93;
    }
    .green10{
        background-color:#3b8c61;
    }
    .green11{
        background-color:#00694a;
    }
    .green12{
        background-color:#005b3e;
        color:white;
    }
    .green13{
        background-color:#07482e;
        color:white;
    }
    .grey1 {
        background-color:#6a6569;
    }
    .grey2 {
        background-color:#a9a6aa;
    }
    .grey3{
        background-color:#847e84;
    }
    .grey4{
        background-color:#555053;
    }
    .grey5{
        background-color:#443e42;
        color:white;
    }
    .grey6{
        background-color:#d9d4da;
    }
    .grey7{
        background-color:#cac5cb;
    }
    .grey8{
        background-color:#b3b0b7;
    }
    .grey9{
        background-color:#b9b5bb;
    }
    .grey10{
        background-color:#5a545a;
    }
    .grey11{
        background-color:#736e73;
    }
    .grey12{
        background-color:#4e484c;
        color:white;
    }
    .grey13{
        background-color:#302b2e;
        color:white;
    }
</style>
<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Axis options</a>
<div class="toggle">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Axis options" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Colours</a>
<div class="toggle" style="display:none;">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Colours" %}
    <div class="fieldWrapper" style="display:none;">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
    <div class="fieldWrapper colorPicker">
        <!--Color picker here-->
        <p>Drag colours to select</p>
        <p>
            <kbd>Click</kbd> to select individual items<br />
            <kbd>Ctrl + Click</kbd> to select multiple items
        </p>
        <br />
        <b>Available colours</b>
        <ul id="available">
            <li class="red1">1</li>
            <li class="red2">2</li>
            <li class="red3">3</li>
            <li class="red4">4</li>
            <li class="red5">5</li>
            <li class="red6">6</li>
            <li class="red7">7</li>
            <li class="red8">8</li>
            <li class="red9">9</li>
            <li class="red10">10</li>
            <li class="red11">11</li>
            <li class="red12">12</li>
            <li class="red13">13</li>
            <hr/>
            <li class="orange1">1</li>
            <li class="orange2">2</li>
            <li class="orange3">3</li>
            <li class="orange4">4</li>
            <li class="orange5">5</li>
            <li class="orange6">6</li>
            <li class="orange7">7</li>
            <li class="orange8">8</li>
            <li class="orange9">9</li>
            <li class="orange10">10</li>
            <li class="orange11">11</li>
            <li class="orange12">12</li>
            <li class="orange13">13</li>
            <hr/>
            <li class="yellow1">1</li>
            <li class="yellow2">2</li>
            <li class="yellow3">3</li>
            <li class="yellow4">4</li>
            <li class="yellow5">5</li>
            <li class="yellow6">6</li>
            <li class="yellow7">7</li>
            <li class="yellow8">8</li>
            <li class="yellow9">9</li>
            <li class="yellow10">10</li>
            <li class="yellow11">11</li>
            <li class="yellow12">12</li>
            <li class="yellow13">13</li>
            <hr/>
            <li class="pink1">1</li>
            <li class="pink2">2</li>
            <li class="pink3">3</li>
            <li class="pink4">4</li>
            <li class="pink5">5</li>
            <li class="pink6">6</li>
            <li class="pink7">7</li>
            <li class="pink8">8</li>
            <li class="pink9">9</li>
            <li class="pink10">10</li>
            <li class="pink11">11</li>
            <li class="pink12">12</li>
            <li class="pink13">13</li>
            <hr/>
            <li class="purple1">1</li>
            <li class="purple2">2</li>
            <li class="purple3">3</li>
            <li class="purple4">4</li>
            <li class="purple5">5</li>
            <li class="purple6">6</li>
            <li class="purple7">7</li>
            <li class="purple8">8</li>
            <li class="purple9">9</li>
            <li class="purple10">10</li>
            <li class="purple11">11</li>
            <li class="purple12">12</li>
            <li class="purple13">13</li>
            <hr/>
            <li class="blue1">1</li>
            <li class="blue2">2</li>
            <li class="blue3">3</li>
            <li class="blue4">4</li>
            <li class="blue5">5</li>
            <li class="blue6">6</li>
            <li class="blue7">7</li>
            <li class="blue8">8</li>
            <li class="blue9">9</li>
            <li class="blue10">10</li>
            <li class="blue11">11</li>
            <li class="blue12">12</li>
            <li class="blue13">13</li>
            <hr/>
            <li class="green1">1</li>
            <li class="green2">2</li>
            <li class="green3">3</li>
            <li class="green4">4</li>
            <li class="green5">5</li>
            <li class="green6">6</li>
            <li class="green7">7</li>
            <li class="green8">8</li>
            <li class="green9">9</li>
            <li class="green10">10</li>
            <li class="green11">11</li>
            <li class="green12">12</li>
            <li class="green13">13</li>
            <hr/>
            <li class="grey1">1</li>
            <li class="grey2">2</li>
            <li class="grey3">3</li>
            <li class="grey4">4</li>
            <li class="grey5">5</li>
            <li class="grey6">6</li>
            <li class="grey7">7</li>
            <li class="grey8">8</li>
            <li class="grey9">9</li>
            <li class="grey10">10</li>
            <li class="grey11">11</li>
            <li class="grey12">12</li>
            <li class="grey13">13</li>
        </ul>
        <b>Selected colours</b>
        <ul id="selected">
        </ul>
    </div>
    <script>
        $(".colorPicker ul").on('click', 'li', function (e) {
            if (e.ctrlKey || e.metaKey) {
                $(this).toggleClass("selected");
            } else {
                $(this).addClass("selected").siblings().removeClass('selected');
            }
        }).sortable({
            connectWith: "ul",
            delay: 150, //Needed to prevent accidental drag when trying to select
            revert: 0,
            helper: function (e, item) {
                var helper = $('<li/>');
                if (!item.hasClass('selected')) {
                    item.addClass('selected').siblings().removeClass('selected');
                }
                var elements = item.parent().children('.selected').clone();
                item.data('multidrag', elements).siblings('.selected').remove();
                return helper.append(elements);
            },
            stop: function (e, info) {
                info.item.after(info.item.data('multidrag')).remove();
            }
        
        });
        function hexc(colorval) {
            var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            delete(parts[0]);
            for (var i = 1; i <= 3; ++i) {
                parts[i] = parseInt(parts[i]).toString(16);
                if (parts[i].length == 1) parts[i] = '0' + parts[i];
            }
            color = '#' + parts.join('');
            return(color);
        }
        function getColours(){
            var results = [];
            var $selectedColours = $('.colorPicker #selected li');
            $selectedColours.each(function(){
                var colour = hexc($(this).css("background-color"));
                results.push(colour);
            });
            $("[name='config.colors']").val(results.join(","));
        }
        function setColours(colours){
            for(var i = 0; i < colours.length; i++){
                var colour = colours[i];
                $(".colorPicker #available li").filter(function(){
                   return ( hexc($(this).css('background-color')) == colour ); 
                }).appendTo($('.colorPicker #selected'));
            }
        }
    </script>
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Sort, filter, and group</a>
<div class="toggle" style="display:none;">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Sort, filter, and group" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Whole chart options</a>
<div class="toggle" style="display:none;">
    <div style="display:none;">
        {% for field in form.hidden_fields %}
        {% if field.field.widget.attrs.section == "Whole chart options" %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% for field in form.visible_fields %}
  {% if field.field.widget.attrs.section == "Whole chart options" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Sizing</a>
<div class="toggle" style="display:none;">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Sizing" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Chart title</a>
<div class="toggle" style="display:none;">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Chart title" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Legend options</a>
<div class="toggle" style="display:none;">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Legend options" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<a class="preventhighlight" href="#" onclick="$(this).next().slideToggle();" style="display:block;">&gt; Visbox options</a>
<div class="toggle" style="display:none;">
{% for field in form %}
  {% if field.field.widget.attrs.section == "Visbox options" %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>
<script>
    $("[for='id_config.linearAxis'").css("font-weight","bold")
    $("[for='id_config.categoryAxis'").css("font-weight","bold")
    $("[for='id_config.circular'").css("font-weight","bold")
</script>