{% extends 'core/base.html' %}

    {% block title %} View chart {% endblock %}
    {% block head %}
    <style>
    button {display:block;margin-bottom:10px;}
    .chart {float:left;}
    </style>
    {% endblock %}    
    {% block content %}
    <div style="float:left;width:20%;overflow-y:scroll;">
      <script>
        goToEditPage = function(){
            location.href = '{% url 'core.views.editVis' visualisation.pk %}';
        };
        goToDeletePage = function(){
          var sure = confirm("Are you sure you want to delete this visualisation?");
          if (sure) {
            location.href = '{% url 'core.views.deleteVis'  visualisation.pk  %}';
          }
        };
        copy = function(){
          location.href = '{% url 'core.views.createVis'  visualisation.chart_type visualisation.dataset.pk %}?copy={{visualisation.pk}}'
        };
      </script>
      <button id="print" onclick="domExport('capture','svg')">Export as vector</button>
      <button id="print" onclick="domExport('capture','png')">Export as PNG</button>
      <button id="print" onclick="copy()">Create a copy</button>
      {% if user == visualisation.creator %}
      <button id="edit" onclick="goToEditPage()">Edit</button>
      <button id="edit" onclick="goToDeletePage()">Delete</button>
      {% endif %}
    </div>
    <div style="max-width:75%;" class="chart" id="capture">
			<div id="chart"></div>
    </div>
    <script>
        d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
            var config = JSON.parse('{{visualisation.get_config|safe}}');
            var flatConfig = JSON.parse('{{visualisation.get_flat_config|safe}}');
            resize_via_config(".chart",flatConfig);
            var filter_by = flatConfig.filter_by,
            selectedFilter = flatConfig.filter_selection,
            sort = flatConfig.sort,
            sort_direction = flatConfig.sort_direction,
            divisor = parseFloat(flatConfig.unit_divisor),
            linearAxis = flatConfig["config.linearAxis.indicator"];
            var data = filter_and_sort(filter_by,selectedFilter,sort,sort_direction,divisor,linearAxis,csvDat);
            DiCharts.draw({element:document.getElementById('chart'),config:config,data:data});
        });
    </script>
    {% endblock %}
