<style>
  .axis--y .tick line, .axis--x .tick line {display:none;}
  .tick text {color:#a9a6aa;}
  .axis--y .domain {display:none;}
  .domain {stroke:#443e42;}
  .rules .tick line {stroke:#a9a6aa;}
  .rules .domain {display:none;}
  #yaxislabel {color:#443e42;}
  #xaxislabel {color:#443e42;}
  #visTitle {color:#e84439;}
  .legend text {color:#443e42;}
</style>
<h1 id="visTitle"></h1>
<svg width="960" height="500" id="vis">
  <text id="yaxislabel" transform="rotate(-90)"></text>
  <text id="xaxislabel"></text>
</svg>
<div id="tooltip"></div>
<script>
function columnType(arr) {
  var parsedArray = arr.map(function(d){return isNaN(parseFloat(d))});
  var arrAvg = d3.mean(parsedArray);
  if (arrAvg<=.5) {
    return("number");
  }else{
    return("string");
  };
};

function NaNSafeSort(x,y){
  var a = parseFloat(x),
  b = parseFloat(y);
   if(!isFinite(a-b))
      return !isFinite(a) ? -1 : 1;
   else
      return a-b;
};
  
function contrast(hex){
  var color = d3.color(hex);
  var lum = 0.2126*color.r + 0.7152*color.g + 0.0722*color.b;
  var contrast =  lum > 128 ? "black" : "white";
  return(contrast);
};
  
function tip(e) {
    $('#tooltip').show();
    var tooltip = $('#tooltip');
    for (var i=tooltip.length; i--;) {
        tooltip[i].style.left = e.pageX+15 + 'px';
        tooltip[i].style.top = e.pageY-15 + 'px';
    }
};

var defaultColour = "#e84439";

var svg = d3.select("svg"),
    margin = {top: 20, right: 100, bottom: 100, left: 100},
    svgWidth = svg.attr("width"),
    svgHeight = svg.attr("height"),
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

d3.csv("{% url 'core.views.csv' dataset.pk %}",function(error, csvDat) {
    if (error) throw error;
    
    var filter_by = $("select[name='filter_by']").val();
    var selectedFilter = $("select[name='filter_selection']").val();
    if (filter_by=="None") {
        var data = csvDat;
        d3.select("select[name='filter_selection']").selectAll("option").remove();
    }else if(selectedFilter===null){
      d3.select("select[name='filter_selection']").selectAll("option").remove();
      var uniqueFilters = d3.map(csvDat,function(d){return d[filter_by]}).keys();
      var filterSelection = "{{visualisation.filter_selection}}";
      d3.select("select[name='filter_selection']").selectAll("option").data(uniqueFilters)
        .enter()
        .append("option")
        .attr("value",function(d){return d})
        .text(function(d){return d})
        .attr("selected",function(d){return d==filterSelection?true:null;});
        
      var selectedFilter = $("select[name='filter_selection']").val();
        
      var data = csvDat.filter(function(d){return d[filter_by]==selectedFilter});
    }else{
      var filterSelection = $("select[name='filter_selection']").val();
      d3.select("select[name='filter_selection']").selectAll("option").remove();
      var uniqueFilters = d3.map(csvDat,function(d){return d[filter_by]}).keys();
      d3.select("select[name='filter_selection']").selectAll("option").data(uniqueFilters)
        .enter()
        .append("option")
        .attr("value",function(d){return d})
        .text(function(d){return d})
        .attr("selected",function(d){return d==filterSelection?true:null;});
        
      var selectedFilter = $("select[name='filter_selection']").val();
        
      var data = csvDat.filter(function(d){return d[filter_by]==selectedFilter});
    };
    
    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      
    var xIndicator = $("select[name='x_indicator']").val();
    var yIndicator = $("select[name='y_indicator']").val();
    var groupBy = $("select[name='group_by']").val();
    var divisor = parseFloat($("input[name='unit_divisor']").val());
    var y_axis_ticks = $("input[name='y_axis_ticks']").val();
    var format_entry = $("input[name='label_format']").val();
    try{
      var format = d3.format(format_entry); 
    }catch(err){
      var format = d3.format(",.2f");
      $("input[name='label_format']").val(",.2f");
    };
    
    var nestedData = d3.nest()
      .key(function(d)
      {
        return d[xIndicator];
      })
      .entries(data);
    
    var groupedData = [];
    var keyObj = {};
    for(var i = 0; i < nestedData.length; i++){
      var keyEntry = nestedData[i];
      var obj = {};
      var total = 0;
      obj[xIndicator] = keyEntry.key;
      for(var j = 0; j < keyEntry.values.length; j++){
        var keyValue = keyEntry.values[j];
        obj[keyValue[groupBy]] = parseFloat(keyValue[yIndicator])/divisor;
        keyObj[keyValue[groupBy]] = true;
        if (!isNaN(parseFloat(keyValue[yIndicator]))) {
            total+= parseFloat(keyValue[yIndicator])/divisor;
        };
      };
      obj.total = total;
      groupedData.push(obj);
    };
    var keys = Object.keys(keyObj);
    for(var i = 0; i < groupedData.length; i++){
      for(key in keyObj){
        if (groupedData[i][key] === undefined) {
            groupedData[i][key] = 0;
        };
      };
    };
    
    var title = $("input[name='title']").val();
    $('h1#visTitle').text(title);
    
    var xType = columnType(groupedData.map(function(d){return d[xIndicator]}));
    var yType = columnType(groupedData.map(function(d){return d.total}));               
    var sort = $("input:checked[name='sort']");
    if (sort.length>0) {
        var sortType = sort.val();
        if (sortType=="xasc") {
          if (xType=="string") {
            groupedData.sort(function(a,b) {return d3.ascending(a[xIndicator],b[xIndicator]);})
          }else{
            groupedData.sort(function(a,b){return NaNSafeSort(a[xIndicator],b[xIndicator]);})
          };
        }else if (sortType=="xdes") {
          if (xType=="string") {
            groupedData.sort(function(a,b) {return d3.descending(a[xIndicator],b[xIndicator]);})
          }else{
            groupedData.sort(function(a,b){return NaNSafeSort(b[xIndicator],a[xIndicator]);})
          };
        }else if (sortType=="yasc") {
          if (yType=="string") {
            groupedData.sort(function(a,b) {return d3.ascending(a.total,b.total);})
          }else{
            groupedData.sort(function(a,b){return NaNSafeSort(a.total,b.total);})
          };
        }else if (sortType=="ydes") {
          if (yType=="string") {
            groupedData.sort(function(a,b) {return d3.descending(a.total,b.total);})
          }else{
            groupedData.sort(function(a,b){return NaNSafeSort(b.total,a.total);})
          };
        };
    };
    
    if ($("input[name='x_label']").val()=="") {
        $('#xaxislabel').text(xIndicator)
    }else{
        $('#xaxislabel').text($("input[name='x_label']").val())
    };
    $('#xaxislabel')
      .attr("x",(svgWidth-$('#xaxislabel').width()+margin.left-margin.right)/2)
      .attr("y",svgHeight-$('#xaxislabel').height());
      
    if ($("input[name='y_label']").val()=="") {
        $('#yaxislabel').text(yIndicator)
    }else{
        $('#yaxislabel').text($("input[name='y_label']").val())
    };
    $('#yaxislabel')
    .attr("y",$('#yaxislabel').width())
    .attr("x",-1*((svgHeight+$('#yaxislabel').height()-margin.bottom+margin.top)/2))
    
    var x = d3.scaleBand().rangeRound([0, width]);
    var xCategories = d3.map(groupedData,function(d){return d[xIndicator]}).keys();
    x.domain(xCategories);
    
    var y = d3.scaleLinear().rangeRound([height, 0]);
    var ymaxauto = $("input:checked[name='y_maximum']").val();
    if (ymaxauto=="auto") {
      var ymax = d3.max(groupedData, function(d) {return Number(d.total); });
    }else{
      var ymax = parseFloat($("input[name='y_maximum_value']").val());
    };
    $("input[name='y_maximum_value']").val(ymax);
    y.domain([0, ymax]);
    
    if (y_axis_ticks!="") {
      var y_ticks = parseInt(y_axis_ticks);
      
      var rules = g.append("g")			
      .attr("class", "rules")
      .call(d3.axisLeft(y)
          .tickSize(-width)
          .ticks(y_ticks)
          .tickFormat("")
      );
      
      var yaxis = g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).ticks(y_ticks).tickFormat(format));
    }else{
      var rules = g.append("g")			
      .attr("class", "rules")
      .call(d3.axisLeft(y)
          .tickSize(-width)
          .tickFormat("")
      );
      
      var yaxis = g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).tickFormat(format));
    };
        
    yaxis.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Frequency");
      
    var xaxis = g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).tickSizeOuter(0));
    
    function update() {
      var filter_by = $("select[name='filter_by']").val();
      var selectedFilter = $("select[name='filter_selection']").val();
      if (filter_by=="None") {
          var data = csvDat;
          d3.select("select[name='filter_selection']").selectAll("option").remove();
      }else if(selectedFilter===null){
        d3.select("select[name='filter_selection']").selectAll("option").remove();
        var uniqueFilters = d3.map(csvDat,function(d){return d[filter_by]}).keys();
        var filterSelection = "{{visualisation.filter_selection}}";
        d3.select("select[name='filter_selection']").selectAll("option").data(uniqueFilters)
          .enter()
          .append("option")
          .attr("value",function(d){return d})
          .text(function(d){return d})
          .attr("selected",function(d){return d==filterSelection?true:null;});
          
        var selectedFilter = $("select[name='filter_selection']").val();
          
        var data = csvDat.filter(function(d){return d[filter_by]==selectedFilter});
      }else{
        var filterSelection = $("select[name='filter_selection']").val();
        d3.select("select[name='filter_selection']").selectAll("option").remove();
        var uniqueFilters = d3.map(csvDat,function(d){return d[filter_by]}).keys();
        d3.select("select[name='filter_selection']").selectAll("option").data(uniqueFilters)
          .enter()
          .append("option")
          .attr("value",function(d){return d})
          .text(function(d){return d})
          .attr("selected",function(d){return d==filterSelection?true:null;});
          
        var selectedFilter = $("select[name='filter_selection']").val();
          
        var data = csvDat.filter(function(d){return d[filter_by]==selectedFilter});
      };
      
      d3.selectAll('.legend').remove();
      var svgWidth = parseInt($("input[name='width']").val());
      var svgHeight = parseInt($("input[name='height']").val());
      var pTop = parseInt($("input[name='padding_top']").val());
      var pRight = parseInt($("input[name='padding_right']").val());
      var pLeft = parseInt($("input[name='padding_left']").val());
      var pBottom = parseInt($("input[name='padding_bottom']").val());
      var xRotation = parseInt($("input[name='x_text_rotation']").val());
      var selectedColours=$("input[name='colour']").val()==""?[defaultColour]:$("input[name='colour']").val().split(",");
      var xIndicator = $("select[name='x_indicator']").val();
      var yIndicator = $("select[name='y_indicator']").val();
      var sort = $("input:checked[name='sort']");
      var title = $("input[name='title']").val();
      var labelsOnChart = $("input:checked[name='labels_on_chart']").length==1;
      var labelFontSize = parseInt($("input[name='label_font_size']").val());
      var format_entry = $("input[name='label_format']").val();
      var divisor = parseFloat($("input[name='unit_divisor']").val());
      var y_axis_ticks = $("input[name='y_axis_ticks']").val();
      try{
        var format = d3.format(format_entry); 
      }catch(err){
        var format = d3.format(",.2f");
        $("input[name='label_format']").val(",.2f");
      };
      
      var groupBy = $("select[name='group_by']").val();
      
      var nestedData = d3.nest()
        .key(function(d)
        {
          return d[xIndicator];
        })
        .entries(data);
      
      var groupedData = [];
      var keyObj = {};
      for(var i = 0; i < nestedData.length; i++){
        var keyEntry = nestedData[i];
        var obj = {};
        var total = 0;
        obj[xIndicator] = keyEntry.key;
        for(var j = 0; j < keyEntry.values.length; j++){
          var keyValue = keyEntry.values[j];
          obj[keyValue[groupBy]] = parseFloat(keyValue[yIndicator])/divisor;
          keyObj[keyValue[groupBy]] = true;
          if (!isNaN(parseFloat(keyValue[yIndicator]))) {
              total+= parseFloat(keyValue[yIndicator])/divisor;
          };
        };
        obj.total = total;
        groupedData.push(obj);
      };
      var keys = Object.keys(keyObj);
      for(var i = 0; i < groupedData.length; i++){
        for(key in keyObj){
          if (groupedData[i][key] === undefined) {
              groupedData[i][key] = 0;
          };
        };
      };
      
      var c = d3.scaleOrdinal().domain(keys).range(selectedColours);
      
      $('h1#visTitle').text(title);
      
      margin = {top: pTop, right: pRight, bottom: pBottom, left: pLeft};
      svg.attr("width",svgWidth)
      svg.attr("height",svgHeight)
      
      width = +svg.attr("width") - margin.left - margin.right,
      height = +svg.attr("height") - margin.top - margin.bottom;
      
      g.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        
      var xType = columnType(groupedData.map(function(d){return d[xIndicator]}));
      var yType = columnType(groupedData.map(function(d){return d.total}));               
      var sort = $("input:checked[name='sort']");
      if (sort.length>0) {
          var sortType = sort.val();
          if (sortType=="xasc") {
            if (xType=="string") {
              groupedData.sort(function(a,b) {return d3.ascending(a[xIndicator],b[xIndicator]);})
            }else{
              groupedData.sort(function(a,b){return NaNSafeSort(a[xIndicator],b[xIndicator]);})
            };
          }else if (sortType=="xdes") {
            if (xType=="string") {
              groupedData.sort(function(a,b) {return d3.descending(a[xIndicator],b[xIndicator]);})
            }else{
              groupedData.sort(function(a,b){return NaNSafeSort(b[xIndicator],a[xIndicator]);})
            };
          }else if (sortType=="yasc") {
            if (yType=="string") {
              groupedData.sort(function(a,b) {return d3.ascending(a.total,b.total);})
            }else{
              groupedData.sort(function(a,b){return NaNSafeSort(a.total,b.total);})
            };
          }else if (sortType=="ydes") {
            if (yType=="string") {
              groupedData.sort(function(a,b) {return d3.descending(a.total,b.total);})
            }else{
              groupedData.sort(function(a,b){return NaNSafeSort(b.total,a.total);})
            };
          };
      };
        
        if ($("input[name='x_label']").val()=="") {
            $('#xaxislabel').text(xIndicator)
        }else{
            $('#xaxislabel').text($("input[name='x_label']").val())
        };
        $('#xaxislabel')
          .attr("x",(svgWidth-$('#xaxislabel').width()+margin.left-margin.right)/2)
          .attr("y",svgHeight-$('#xaxislabel').height());
          
        if ($("input[name='y_label']").val()=="") {
            $('#yaxislabel').text(yIndicator)
        }else{
            $('#yaxislabel').text($("input[name='y_label']").val())
        };
        $('#yaxislabel')
        .attr("y",$('#yaxislabel').width())
        .attr("x",-1*((svgHeight+$('#yaxislabel').height()-margin.bottom+margin.top)/2))
        
        var x = d3.scaleBand().rangeRound([0, width]);
        var xCategories = d3.map(groupedData,function(d){return d[xIndicator]}).keys();
        x.domain(xCategories);
          
        var y = d3.scaleLinear().rangeRound([height, 0]);
        var ymaxauto = $("input:checked[name='y_maximum']").val();
        if (ymaxauto=="auto") {
          var ymax = d3.max(groupedData, function(d) {return Number(d.total); });
          $("input[name='y_maximum_value']").val(ymax);
        }else{
          var ymax = parseFloat($("input[name='y_maximum_value']").val());
        };
        y.domain([0, ymax]);
    
        if (y_axis_ticks!="") {
          var y_ticks = parseInt(y_axis_ticks);
          rules.call(d3.axisLeft(y)
            .tickSize(-width)
            .ticks(y_ticks)
            .tickFormat("")
          )
          yaxis.transition().call(d3.axisLeft(y).ticks(y_ticks).tickFormat(format))
        }else{
          rules.call(d3.axisLeft(y)
            .tickSize(-width)
            .tickFormat("")
          )
          yaxis.transition().call(d3.axisLeft(y).tickFormat(format))
        }
        xaxis.transition().call(d3.axisBottom(x).tickSizeOuter(0))
        xaxis.attr("transform", "translate(0," + height + ")")
        xaxis.selectAll("text")
          .attr("transform", "rotate("+xRotation+")")
          .style("text-anchor", xRotation>0?"start":"middle");
        
        var stackData = d3.stack().keys(keys)(groupedData);
        
        var groups = g.selectAll(".group").data(stackData)
          .attr("class","group")
          .attr("fill",function(d){return c(d.key)});
          
        groups.enter().append("g")
          .attr("class","group")
          .attr("fill",function(d){return c(d.key)});
          
        groups.exit().remove();
        
        var groupLabels = g.selectAll(".groupLabel")
        .data(
          stackData[stackData.length-1].map(function(d){return {"y":d[d.length-1],"x":d.data[xIndicator]}})
        )
          .style("font-size",labelFontSize)
          .attr("x", function(d) { return x(d.x) + 2 + (d3.max([(width/xCategories.length)-1,1]))/2 })
          .attr("y", function(d) { return y(d.y) - labelFontSize/2 })
          .text(function(d){return format(d.y)})
          .style("opacity",function(d){return (d.y) > 0 ? 1 : 0 })
          .attr("class","groupLabel")
          .attr("fill","black")
          .attr("text-anchor", "middle");
          
          if (labelsOnChart) {
          groupLabels.enter().append("text")
          .style("font-size",labelFontSize)
          .attr("x", function(d) { return x(d.x) + 2 + (d3.max([(width/xCategories.length)-1,1]))/2 })
          .attr("y", function(d) { return y(d.y) - labelFontSize/2 })
          .text(function(d){return format(d.y)})
          .style("opacity",function(d){return (d.y) > 0 ? 1 : 0 })
          .attr("class","groupLabel")
          .attr("fill","black")
          .attr("text-anchor", "middle");
          }else{
            groupLabels.remove();
          };
          
          groupLabels.exit().remove();
          
        var bars = groups.selectAll(".bar").data(function(d){return d;})
          .attr("class", "bar")
          .attr("onmouseout","$('#tooltip').hide()")
          .attr("x", function(d) { return x(d.data[xIndicator]) + 2 + (width/xCategories.length)*(1/6); })
          .attr("y", function(d) { return y(d[1]); })
          .attr("width", d3.max([(width/xCategories.length)*(2/3),1]))
          .attr("height", function(d) { return y(d[0]) - y(d[1]); })
          .attr("onmouseover",function(d){return "$('#tooltip').text('"+format(d[1] - d[0])+"')"});
          
          bars.enter().append("rect")
          .attr("class", "bar")
          .attr("onmouseout","$('#tooltip').hide()")
          .attr("x", function(d) { return x(d.data[xIndicator]) + 2 + (width/xCategories.length)*(1/6); })
          .attr("y", function(d) { return y(d[1]); })
          .attr("width", d3.max([(width/xCategories.length)*(2/3),1]))
          .attr("height", function(d) { return y(d[0]) - y(d[1]); })
          .attr("onmouseover",function(d){return "$('#tooltip').text('"+format(d[1] - d[0])+"')"});
          
        bars.exit().remove()
        
        var labels = groups.selectAll(".label").data(function(d){return d;})
          .attr("class","label")
          .style("fill",function(d,i,j){return contrast(d3.select(j[i].parentNode).attr("fill"))})
          .attr("text-anchor", "middle")
          .style("font-size",labelFontSize)
          .attr("x", function(d) { return x(d.data[xIndicator]) + 2 + (d3.max([(width/xCategories.length)-1,1]))/2 })
          .attr("y", function(d) { return y(d[1]) + (y(d[0]) - y(d[1]))/2 + labelFontSize/2;; })
          .text(function(d){return format(d[1] - d[0])})
          .each(function(d,i) {
              var bbox = this.getBBox();
              var barHeight = y(d[0]) - y(d[1]);
              d.unsquished =  barHeight > bbox.height;
              })
            .style("opacity",function(d){return (d[1] - d[0]) > 0 && d.unsquished ? 1 : 0 });
          
          if (labelsOnChart) {
            labels.enter().append("text")
            .attr("class","label")
            .style("fill",function(d,i,j){return contrast(d3.select(j[i].parentNode).attr("fill"))})
            .attr("text-anchor", "middle")
            .style("font-size",labelFontSize)
            .attr("x", function(d) { return x(d.data[xIndicator]) + 2 + (d3.max([(width/xCategories.length)-1,1]))/2 })
            .attr("y", function(d) { return y(d[1]) + (y(d[0]) - y(d[1]))/2 + labelFontSize/2; })
            .text(function(d){return format(d[1] - d[0])})
            .each(function(d,i) {
              var bbox = this.getBBox();
              var barHeight = y(d[0]) - y(d[1]);
              d.unsquished =  barHeight > bbox.height;
              })
            .style("opacity",function(d){return (d[1] - d[0]) > 0 && d.unsquished ? 1 : 0 });
            
            labels.exit().remove();
          }else{
            labels.remove();
          };
          
        $('.bar').on("mousemove",tip)
        
        var legend_position = $("input:checked[name='legend_position']").val();
        
        var legend = svg.append("g").attr("class","legend")
            .attr("font-size", 10)
            .attr("text-anchor", legend_position=="tr"?"end":"start")
            .selectAll(".group")
            .data(keys.slice().reverse())
            .enter().append("g")
            .attr("transform", function(d, i) { return "translate("+margin.left+"," + i * 20 + ")"; });
      
        legend.append("rect")
            .attr("x", legend_position=="tr"?width - 19:0)
            .attr("width", 19)
            .attr("height", 19)
            .attr("fill", c);
      
        legend.append("text")
            .attr("x", legend_position=="tr"?width - 20:20)
            .attr("y", 9.5)
            .attr("dy", "0.32em")
            .text(function(d) { return d; });
            
    };
    
    update()
    update()
    
    $('select').change(function(){update()});
    $('input').change(function(){update()});
});
</script>